
c#.sln
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# production
/build
/bin
/bin/debug
/bin/Debug

# misc
DS_Store
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Optional npm cache directory
.idea/

# Package files
*.jar

# Maven
target/

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv